<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Code Curator</title>
    <script src="Scripts/jquery-1.6.js" type="text/javascript"></script>
    <script src="Scripts/jquery.tmpl.js" type="text/javascript"></script>
    <script src="Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="Scripts/jquery.jsonp-2.1.4.min.js" type="text/javascript"></script>
    <script src="Scripts/SolrUrl.js" type="text/javascript"></script>
    <script src="Scripts/Index.js" type="text/javascript"></script>
    <style>
           html { font-family: Arial, Sans-Serif; font-size: small;}
    </style>

</head>
<body>
    <a name="top" />
    
    <table>
    <tr>
    <td style="width:200px"><h1>Code Curator</h1></td>
    <td>
        
    <input id="txtSearch" style="width: 500px"/>
    <select id="lstPerPage">
        <option>10</option>
        <option selected>20</option>
        <option>50</option>
        <option>100</option>
    </select>
    <input type="button" value="Search" id="btnSearch" />
        </td>
    </tr>
    <tr>
    <td style="border-width: thin; border-right-style: inset; vertical-align: top;">
    <div id="facetsDiv"> </div>
    </td>
    <td style="padding: 20px">
    <div id="resultsDiv">
    
    </div>
    </td>
    </tr>
    </table>
    <div id="loadingScreen" style="display: none">
    <center>
    <h1>Loading Results</h1>
    <img src="Images/ajax-loader.gif" /></center>
    </div>

    <div id="errorScreen" style="display: none">
    <center>
    <h1>Error while searching:</h1>
    Something in your search string must be causing an issue with Solr. Don't search for blank values or use too much punctuation (for now).
    </center>
    </div>


     <script id="resultsTemplate" type="text/x-jQuery-tmpl">
        <div>
            <b>${response.numFound}</b> results in <b>${responseHeader.QTime}ms</b><br/><br/>
            
            Showing records ${(_searchParams.pageSize*_searchParams.pageNumber)+1} through ${getMaxRecordCount()}<br/><br/>

             {{each(i,doc) response.docs}}
                <a href="detail.html?id=${doc.id}&searchQuery=${responseHeader.params.q}" target="_blank"><b>${doc.name}</b></a><br/>
               ..{{html highlighting[doc.id].filedata}}..
               <br/>
               <small>${doc.fullpath}</small>
               <br/>
               <small><i>Indexed: ${formatTimestamp(doc.timestamp)}</i></small>
               <br/>
               <br/>
             {{/each}}
             <br/>
             
             {{if _searchResults.pages.length>1 }}
                 {{if _searchParams.pageNumber!=0}}
                    <a href="#top" class="searchPagerBack">&lt;&lt;&lt;</a>
                 {{/if}}
                          
                 {{each(i,temp) _searchResults.pages }}
                 {{if i==_searchParams.pageNumber}}
                    ${i+1}
                 {{else}}
                 <a href="#top" class="searchPager">${i+1}</a>
                 {{/if}}
             
                 {{/each}}

                 {{if (_searchParams.pageNumber+1) < totalPages() }}
                    <a href="#top" class="searchPagerForward">&gt;&gt;&gt;</a>
                 {{/if}}
            {{/if}}

        </div>
    </script>
    <script id="facetsTemplate" type="text/x-jQuery-tmpl">
        Category:
        <ul>
            {{each(i,facet) categoryFacets}}
            {{if _searchParams.category==facet.term}}
                <li style="background-color: #FFFF00"><a href="#top" class="categoryFacetLink">${facet.term}</a> (${facet.count}) &nbsp;&nbsp;&nbsp;<a href="#top" class="removeFacet">X</a></li>
            {{else}}
                {{if facet.count>0}}
                    <li><a href="#top" class="categoryFacetLink">${facet.term}</a> (${facet.count})</li>
                {{/if}}
            {{/if}}
            {{/each}}
        </ul>
        <br/>
        Project:
        <ul>
        {{each(i,facet) projectFacets}}
        {{if _searchParams.project==facet.term}}
            <li style="background-color: #FFFF00"><a href="#top" class="projectFacetLink">${facet.term}</a> (${facet.count}) &nbsp;&nbsp;&nbsp;<a href="#top" class="removeFacet">X</a></li>
        {{else}}
            {{if facet.count>0}}
            <li><a href="#top" class="projectFacetLink">${facet.term}</a> (${facet.count})</li>
            {{/if}}
        {{/if}}
        {{/each}}
        </ul>
        
        <br/>

    </script>
    
    
</body>
</html>
